---
import Layout from "../layouts/Layout.astro";
import info from "../data/info.json";
import Link from "../components/Link.astro";
import Footer from "../layouts/Footer.astro";
import Header from "../layouts/Header.astro";
import Image from "astro/components/Image.astro";
import { LuArrowUpRight } from "react-icons/lu";

const projects = info.projects;
const allProjects = projects.slice(1, 7);
---

<Layout>
  <Header />
  <div class="overflow-hidden container mx-auto">
    <div class="flex justify-between items-center mt-8 px-8">
      <h1 class="font-mainHead text-6xl md:text-9xl leading-tight">
        ALL WORKS
        <sup class="text-4xl md:text-8xl text-main">
          [0{projects.length}]
        </sup>
      </h1>
    </div>

    <!-- projects -->
    <div class="py-20">
      <!-- Last project -->
      <div class="flex gap-4 border-b border-primary-900 pb-4 mb-4 group">
        <div class="w-1/2 relative flex flex-col justify-between">
          <!-- Project Details -->
          <div class="flex justify-between items-center">
            <div class="w-1/2 flex justify-start gap-12 items-center">
              <span class="text-primary-500 text-xs uppercase">Name : </span>
              <h6 class="uppercase font-mainHead">{projects[0].title}</h6>
            </div>
            <div class="w-1/2 flex justify-start gap-12 items-center">
              <span class="text-primary-500 text-xs uppercase">Client : </span>
              <span class="uppercase font-mainHead">{projects[0].client}</span>
            </div>
          </div>

          <!-- project date -->
          <span>{projects[0].date}</span>

          <!-- more details -->
          <div class="flex">
            <div class="w-1/2 grid items-stretch justify-between gap-12 pt-4">
              <ul>
                {projects[0].type.map((type) => <li>[ {type} ]</li>)}
              </ul>
            </div>
            <div class="w-1/2 flex justify-end items-end">
              <Link
                href={`/projects/${info.projects[0].title.toLowerCase().replace(" ", "-")}`}
                >[ View Project ]</Link
              >
            </div>
          </div>
        </div>
        <!-- project img -->
        <div class="w-1/2 h-[300px]">
          <Image
            src={info.projects[0].img}
            alt={info.projects[0].title}
            loading={"eager"}
            class="w-full grayscale group-hover:grayscale-0 transition-all duration-500"
            width={600}
            height={400}
          />
        </div>
      </div>

      <!-- All projects -->
      <div class="grid grid-cols-12 gap-4 pb-20">
        {
          allProjects.map((project) => (
            <div class="col-span-6 border-b border-primary-600 pb-4 mb-4">
              <div class=" relative group overflow-hidden">
                <div class="w-full h-[300px]">
                  <Image
                    src={project.img}
                    alt={project.title}
                    loading="eager"
                    class="w-full h-[300px] object-cover grayscale group-hover:grayscale-0 transition-all duration-700 ease-out"
                    width={600}
                    height={400}
                  />
                </div>

                <div class="absolute inset-0 p-4 sm:p-6 lg:p-8 text-tertiary text-sm font-subhead flex flex-col opacity-0 group-hover:opacity-100 transition-opacity duration-700 bg-black/40 justify-between">
                  <span class="text-2xl font-mainHead">[ {project.date} ]</span>
                  <div class="flex">
                    <h4 class="text-6xl font-mainHead">{project.title}</h4>
                    <ul class="ml-4 pl-4 border-l border-tertiary">
                      {project.type.map((type) => (
                        <li>[ {type} ]</li>
                      ))}
                    </ul>
                  </div>
                </div>

                <div class="absolute top-20 left-20">
                  <div class="inline-block relative group-hover:flex items-center gap-2 bg-white mix-blend-difference group-hover:mix-blend-normal text-black rounded-full overflow-hidden p-4  transform transition-transform duration-700 group-hover:translate-x-80">
                    <LuArrowUpRight className="w-5 h-5" />

                    <div class="hidden group-hover:block opacity-0 translate-x-4 transition-all duration-700 group-hover:opacity-100 group-hover:translate-x-0 text-black">
                      <Link
                        href={`/projects/${project.title.toLowerCase().replace(" ", "-")}`}
                      >
                        [ View Project ]
                      </Link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <!-- contact section -->
    <div
      class="py-20 flex flex-col justify-center items-center relative space-y-8"
    >
      <div class="flex">
        <h1 class="text-9xl font-mainHead">Let's Talk</h1>
        <sup><LuArrowUpRight className="text-6xl text-main" /></sup>
      </div>
      <div class="w-1/2 flex flex-col items-end justify-end space-y-4">
        <p class="w-1/2">
          <span class="text-main">Ready</span> to bring your vision to life? I'm
          here to discuss your next
          <span class="text-main">project</span> and create something <span
            class="text-main">exceptional</span
          > together.
        </p>
        <Link href="/contact" class="text-sm flex items-center gap-1">
          [ Send Message ]
        </Link>
      </div>
    </div>
  </div>

  <Footer prevPage="/about" nextPage="/contact" />
</Layout>
